/************************************* header ***********************************************/
.header-above {
    position: absolute;
    width: 100%;
    z-index: 999;
}
.header-fixed {
    position: fixed;
}
.header {
    display: flex;
    position: relative;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        li {
            padding-left: 25px;
            padding-right: 26px;
            a {
                font-size: 16px;
                line-height: 28px;
                color: #ffffff;
                font-weight: 400;
                font-family: "Poppins";
                text-align: center;
            }
        }
    }
    &--backgroud {
        display: flex;
    }
    &__logo{
        margin-top: 22px;
    }
    &__nav{
        flex: content;
        margin-top: 39px;
        ul {
            li {
                &:first-child{
                padding-left: 22px;
                }
                &:nth-child(3){
                    padding-right: 57px;
                }
                &:nth-child(4){
                    padding-left: 0px;
                }
                &:last-child{
                    padding-right: 43px;
                }
            }
        }
    }
    &__tool{
        margin-top: 39px;
        ul {
            justify-content: flex-end;
            li {
                &:first-child{
                    padding-right: 26px;
                    &::before {
                        position: absolute;
                        right: 113px;
                        top: 46px;
                        width: 1px;
                        background: #ffff;
                        content: '';
                        height: 20%;
                        transition: all 200ms linear 0s;
                    }
                }
                &:nth-child(2){
                    padding-right: 28px;
                    &::before {
                        position: absolute;
                        right: 40px;
                        top: 46px;
                        width: 1px;
                        background: #ffff;
                        content: '';
                        height: 20%;
                        transition: all 200ms linear 0s;
                    }
                }
                &:last-child{
                    padding-right: 0px;
                }
            }
        }
    }
    &__nav-responsive {
        display: none;
    }
}
/************************************* responsive header ***********************************************/
@media (max-width: 1080px){
    .header {
        ul {
            li{
                padding-left: 12px;
            }
        }
        &__nav {
            ul {
                li{
                    &:first-child {
                        padding-left: 0px;
                    }
                    &:nth-child(3){
                        padding-right: 35px;
                    }
                    &:last-child{
                        padding-right: 0px;
                    }
                }
            }
        }
        &__tool{
            ul {
                li {
                    &:first-child{
                        &::before {
                            right: 90px;
                        }
                    }
                    &:nth-child(2){
                        &::before {
                            right: 36px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1024px){
    .header {
        ul {
            li{
                padding-left: 12px;
            }
        }
        &__nav {
            ul {
                li{
                    &:first-child {
                        padding-left: 0px;
                    }
                    &:nth-child(3){
                        padding-right: 35px;
                    }
                    &:last-child{
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}
@media (max-width: 812px){
    header {
        height: 81px;
    }
    .header__nav-responsive {
        position: absolute;
        right: 18px;
        top: 30px;
    }
    .header {
        height: 96px;
        ul {
            li {
                &:last-child{
                    padding-right: 0px;
                }
                a {
                    font-size: 21px;
                    line-height: 28px;
                }
            }
        }
        &__logo {
            margin: 10px 0px;
            img {
                width: 100%;
            }
        }
        &__nav{
            display: none;
            background: rgba(0, 0, 0, 0.6);
        }
        &__tool{
            display: none;
            background: rgba(0, 0, 0, 0.6);
            ul {
            li {
                &:first-child{
                    padding-right: 26px;
                    &::before {
                        height: 0%;
                    }
                }
                &:nth-child(2){
                    &::before {
                        height: 0%;
                        transition: all 200ms linear 0s;
                    }
                }
            }
        }
    }
        &__nav-responsive {
            display: block;
        }
    }
    .responsive {
        .header__nav-responsive {
            top: 6px;
        }
        .header {
            display: block;
            text-align: left;
            ul {
                display: block;
                text-align: left;
                li {
                    padding: 0;
                    a {
                        font-size: 15px;
                        line-height: 29px;
                    }
                }
            }
            &__logo{
                margin: 10px 0;
                img {
                    width: 27%;
                }
            }
            &__nav{
                display: block;
                margin-top: 10px;
                ul {
                    li {
                        &:hover {
                            background: darkslategrey;
                        }
                        a {
                            padding-left: 20px;
                        }
                    }
                }
            }
            &__tool{
                display: block;
                margin-top: 0px;
                ul {
                    li {
                        &:hover {
                            background: darkslategrey;
                        }
                        a {
                            padding-left: 20px;
                        }
                    }
                }
            }
            &__nav-responsive {
                a {
                    font-size: 21px !important;
                    line-height: 26px !important;
                }
            }
        }
    }
}
@media (max-width: 768px){
    .responsive {
        .header__nav {
            margin-top: 13px;
        } 
    }
}
@media (max-width: 736px){
    header {
        height: 79px;
    }
    .header {
        height: 96px;
        &__logo {
            img {
                width: 94%;
            }
        }
    }
    .responsive {
        .header__nav {
            margin-top: 15px;
        } 
    }
}
@media (max-width: 667px){
    .header {
        &__logo {
            img {
                width: 77%;
            }
        }
    }
}
@media (max-width: 600px){
    .header {
        height: 80px;
        &__logo{
                img {
                    width: 93%;
                }
            }
        ul {
            li {
                a {
                    font-size: 21px;
                    line-height: 26px;
                }
            }
        }
        &__logo {
            margin: 17px 0px;
        }
    }
    .responsive {
        .header {
            &__logo{
                margin: 13px 0;
                img {
                    width: 33%;
                }
            }
            &__nav{
                margin-top: 0px;
            }
        }
    }
}
@media (max-width: 415px){
    .responsive {
        .header {
            &__logo{
                img {
                    width: 49%;
                }
            }
        }
    }
}
@media (max-width: 376px){
    .responsive {
        .header {
            &__logo{
                img {
                    width: 55%;
                }
            }
        }
    }
}